
@import url("https://fonts.google.com/share?selection.family=Roboto:ital,wght@1,100");
.blok p, 
a,
h1{ color: blue;}

* {color:rgb(101, 101, 98);}

a.link {color:rgb(240, 10, 136);}

li {color: black;
font-family: 'Roboto', sans-serif;}


h2{color:rgb(17, 167, 92);}

h3{color:rgb(185, 15, 15);
	}



@font-face {
font-family: "Larsseit", sans-serif;
src:url("../fonts/Larsseit-Bold.woff2") format("woff2"), url(../fonts/Larsseit-Bold.woff) format("woff");

font-display: swap;
font-weight: 700;
font-style: normal;}

@font-face{
font-family: "Larsseit", sans-serif;
src:url("../fonts/Larsseit-Medium.woff2") format("woff2"), url(../fonts/Larsseit-Medium.woff) format("woff");

font-display: swap;
font-weight: 500;
font-style: normal;}




body {
font-family: "Larsseit";
font-weight: 900;}


